:root {
    --clr-pink: #f1c9c0;
    --clr-lightBlue: #e4f1f0;
    --clr-darkLightBlue: #c8e2df;
    --clr-yellow: #fbe355;
    --clr-blue: #00454e;
    --clr-darkBlue: #003037;
    --clr-black: #171717;
    --clr-white: #f6f6f6;
    --clr-greyBlue: #336A71;
    --clr-midBlue: #b5d3d7;
    --clr-lightTurquoise: #D4E8E6;

    --ff-primary: 'proxima-nova', sans-serif;
    --ff-logo: 'Arvo', serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: var(--ff-primary);
    /* background: linear-gradient(180deg, rgba(241,201,192,1) 0%, rgb(255, 255, 255) 28%, rgba(228,241,240,1) 100%); */
    background: var(--clr-lightBlue);
    background-attachment: fixed;
}

.main-container {
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-rows: 1fr;
}

@media screen and (min-width: 700px) {
    .main-container {
        grid-template-columns: 5em 1fr 5em;
    }
}



@media screen and (min-width: 800px) {
    .main-container {
        grid-template-columns: 7em 1fr 7em;
    }
}

@media screen and (min-width: 900px) {
    .main-container {
        grid-template-columns: 10em 1fr 10em;
    }
}

@media screen and (min-width: 1000px) {
    .main-container {
        grid-template-columns: 13em 1fr 13em;
    }
}

@media screen and (min-width: 1100px) {
    .main-container {
        grid-template-columns: 16em 1fr 16em;
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        grid-template-columns: 19em 1fr 19em;
    }
}

@media screen and (min-width: 1300px) {
    .main-container {
        grid-template-columns: 22em 1fr 22em;
    }
}

@media screen and (min-width: 1400px) {
    .main-container {
        grid-template-columns: 25em 1fr 25em;
    }
}

@media screen and (min-width: 1500px) {
    .main-container {
        grid-template-columns: 28em 1fr 28em;
    }
}

@media screen and (min-width: 1600px) {
    .main-container {
        grid-template-columns: 31em 1fr 31em;
    }
}

@media screen and (min-width: 1700px) {
    .main-container {
        grid-template-columns: 34em 1fr 34em;
    }
}

@media screen and (min-width: 1800px) {
    .main-container {
        grid-template-columns: 37em 1fr 37em;
    }
}


.index-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto 2em 5em 20em auto;
}

#UCL-logo {
    max-height: 100px;
    display: block;
    margin: 3em auto;
}

.input-search {
    background: url("img/search.png") no-repeat right 10px top 5px;
    background-size: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--clr-blue);
    border-radius: 50vh;
    font-size: 16px;
    background-color: var(--clr-white);
    padding: 8px 40px 8px 20px;
    font-family: var(--ff-primary);
}

.top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1.6em 0 2em;

}

.top-nav-home {
    justify-content: flex-end;
}

.nav-border {
    border-top: solid 2px #97c4ca;
    padding: 20px 0 0 0;
}


.back-button {
    border: none;
    border-radius: 50vh;
    background-color: inherit;
    height: 50px;
    cursor: pointer;
}

.back-button img {
    height: 50px;
    scale: 0.8;
}

.profile-button {
    border: none;
    border-radius: 50vh;
    height: 50px;
}

.profile-button img {
    height: 50px;
    scale: 0.9;
}

.home-nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

.home-nav {
    border: none;
    border-radius: 50vh;
    height: 70px;
}

.home-nav img {
    height: 70px;
    scale: 0.8;
}

.home-nav a {
    float: left;
    display: block;
    color: var(--clr-darkBlue);
    text-decoration: none;
    font-size: 17px;
}

.home-nav h4 {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    margin-top: -7px;
}

.bot-nav {
    overflow: hidden;
    position: fixed;
    bottom: -1px;
    width: 100%;
}

.bot-nav-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 26px 0;
    background: var(--clr-lightBlue);
    border-top: solid 2px #97c4ca;
    margin: 0 1em;
}

.bot-nav-container a {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--clr-darkBlue);
    text-decoration: none;
    font-size: 17px;
}

.bot-nav-container img {
    border: none;
    height: 50px;
    scale: 0.9;
}

.bot-nav-container h4 {
    position: absolute;
    top: 61px;
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
}

#bubble {
    position: absolute;
    background-color: var(--clr-midBlue);
    width: 130%;
    aspect-ratio: 1/1;
    border-radius: 100vh;
    z-index: -420;
    overflow: hidden;
    left: -187px;
    top: -100px;
}

@media screen and (max-width: 430px) {
    #bubble {
        width: 510px;
    }
}

@media screen and (min-width: 500px) {
    #bubble {
        width: 120%;
    }
}

@media screen and (min-width: 600px) {
    #bubble {
        width: 110%;
    }
}

@media screen and (min-width: 700px) {
    #bubble {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    #bubble {
        width: 90%;
    }
}

@media screen and (min-width: 1100px) {
    #bubble {
        width: 80%;
        left: -146px;
        top: -150px;
    }
}

#hero {
    grid-row: 4 / 5;
}

#hero>h2 {
    color: var(--clr-darkBlue);
    bottom: -25px;
    position: relative;
}

.recommended-container {
    max-width: 100vw;
    position: relative;
    margin-top: 3em;
}

.hero-slides {
    display: flex;
    flex-direction: column;
}

.hero-slides h2 {
    color: var(--clr-darkBlue);
    font-size: 1.1em;
}

.hero-slides p {
    color: var(--clr-darkBlue);
    font-size: 0.9em;
}

.hero-slides img {
    width: 100%;
    border-radius: 15px;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
}

.slide-text {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    height: 80px;
    padding: 5px 12px;
    border-radius: 0 0 15px 15px;
}

/* .hero-slides {
  display: none;
} */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 14px 14px 14px 7px;
    color: var(--clr-darkBlue);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 50vh 50vh 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.next {
    right: 0;
    border-radius: 50vh 0 0 50vh;
    padding: 14px 7px 14px 14px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.dots {
    text-align: center;
    margin-top: -15px;
    padding-bottom: 6em;
}

.dot {
    cursor: pointer;
    height: 10px;
    border: solid 2px var(--clr-blue);
    aspect-ratio: 1/1;
    margin: 0 2px;
    background-color: var(--clr-darkLightBlue);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--clr-blue);
}

.fade {
    animation-name: fade;
    animation-duration: 500ms;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}


/* ---profile-page--- */

.profile-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto auto;
}

.profile-pic {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 50px 0;
    grid-row: 1 / 2;
}

.profile-pic img {
    max-height: 200px;
}

.profile-pic a>img {
    height: 50px;
    background-color: var(--clr-white);
    border-radius: 100vh;
    padding: 5px;
    scale: 1.1;
    position: absolute;
    top: 150px;
    left: 40px;

}

.profile-pic a {
    position: absolute;
}

h2 {
    color: var(--clr-darkBlue);
}

.profile-ass {
    grid-row: 2 / 3;
    margin: 20px 0 50px 0;
}

.profile-ass h3,
.profile-eve h3 {
    margin: 0 0 30px 0;
    color: var(--clr-darkBlue);
}

.profile-ass-ul,
.profile-eve-ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.profile-eve {
    grid-row: 3 / 4;
    margin: 20px 0 50px 0;
}

.profile-ass h4,
.profile-eve h4 {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    position: absolute;
    margin-top: 90px;
    color: var(--clr-darkBlue);
}

.profile-ass-ul li,
.profile-eve-ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-ass-ul img,
.profile-eve-ul img {
    object-fit: cover;
    max-height: 82px;
    aspect-ratio: 1;
    border-radius: 10px;
}






/*Forening-browsing*/

.bot-margin {
    margin-bottom: 120px;
}

.bot-margin2 {
    margin-bottom: 2rem;
}

.forenings-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-bottom: 60px;
}

.forenings-container p,
.forenings-container li {
    color: var(--clr-darkBlue);
}

.forening {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

.forening-image {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    grid-column: 1/1;
    grid-row: 1/2;
}

.assA {
    background-image: url(img/pictures/boardgame3.jpg);
}

.assB {
    background-image: url(img/pictures/beer1_opt.jpg);
}

.assC {
    background-image: url(img/pictures/fodbold_opt.jpg);
}

.assD {
    background-image: url(img/pictures/badminton_opt.jpg);
}

.assE {
    background-image: url(img/pictures/yoga.jpg);
}

.assF {
    background-image: url(img/pictures/run1.jpg);
}

.assG {
    background-image: url(img/pictures/fitness.jpg);
}

.assH {
    background-image: url(img/pictures/kor.png);
}


.forenings-info {
    grid-column: 2/3;
    grid-row: 1/2;
}

.forenings-info a {
    text-decoration: none;
    color: var(--clr-darkBlue);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100px;
    margin-bottom: 20px;
}

.forenings-info p {
    margin-bottom: 8px;
}

.info {
    font-size: small;
}

.member-button {
    display: flex;
    grid-column: 2;
    grid-row: 1;
}

.member-button a {
    background-color: var(--clr-darkBlue);
    width: 100%;
    text-decoration: none;
    color: var(--clr-white);
    border-radius: 4px;
}

.member-button p {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 5px 0px;
    color: var(--clr-lightBlue);
    font-weight: 700;
}

.forening hr {
    margin-top: 10px;
    grid-column: span 2;
    margin-bottom: 50px;
    color: var(--clr-greyBlue);
    height: 2px;
}


/*Forening page*/

.forening-top-img {
    grid-column: span 4;
    margin-bottom: 20px;
    margin-top: 40px;
}

.forening-top-img img {
    grid-column: 1 / 4;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 900px) {
    .forening-top-img {
        grid-template-columns: 10em 1fr 10em;
        display: grid;
    }

    .forening-top-img img {
        grid-column: 2/3;
    }
}

@media screen and (min-width: 1200px) {
    .forening-top-img {
        grid-template-columns: 18em 1fr 18em;
    }
}

@media screen and (min-width: 1800px) {
    .forening-top-img {
        grid-template-columns: 35em 1fr 35em;
    }
}

.forening-title-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.forening-location {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.forening-location img {
    height: 25px;
    width: auto;
}

.forening-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forening-info-text {
    display: flex;
    align-items: center;
}

.bliv-medlem {
    max-width: 150px;
}

#member {
    margin: 0px;
}

.events-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 150px;
    height: 30px;
    margin-bottom: 10px;
}

.events-button p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
}

.see-events-button {
    background-color: var(--clr-lightBlue);
    border: solid 3px var(--clr-blue);
    width: 100%;
    height: 30px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--clr-blue);
    margin-right: 10px;
}


/*Forenings events*/

.events-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 25px;
    margin-top: 22px;
}

.events {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.events a {
    text-decoration: none;
    color: var(--clr-darkBlue);
}

.events-img {
    display: grid;
    justify-content: center;
}

.events-img img {
    display: grid;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}

.event-info-buttons {
    background-color: var(--clr-darkLightBlue);
    padding: 0 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
}

.events-text {
    display: grid;
}

.title-participants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.events-text hr {
    height: 3px;
    background-color: var(--clr-darkBlue);
}

.events-info {
    margin-bottom: 5px;
    padding: 15px 0px;
}

.events-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
    gap: 15px;
}

.events-buttons a {
    color: var(--clr-darkLightBlue);
}

.events-cta-button {
    display: flex;
    justify-content: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-lightBlue);
    text-decoration: none;
    border: 4px;
    border-color: #003037;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.events-cta-button p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


/*Event page*/

.event-top-img {
    grid-column: span 4;
    margin-bottom: 20px;
    margin-top: 16px;

}

.event-top-img img {
    grid-column: 1 / 4;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 900px) {
    .event-top-img {
        grid-template-columns: 10em 1fr 10em;
        display: grid;
    }

    .event-top-img img {
        grid-column: 2/3;
    }
}

@media screen and (min-width: 1200px) {
    .event-top-img {
        grid-template-columns: 18em 1fr 18em;
    }
}

@media screen and (min-width: 1800px) {
    .event-top-img {
        grid-template-columns: 35em 1fr 35em;
    }
}

.location {
    display: flex;
    flex-direction: row;
}

.location p {
    display: flex;
    align-items: flex-end;
}

.location img {
    height: 25px;
    width: auto;
    margin-left: 2px;
}

.deltag-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    margin: 10px 0px;
}

.deltag-buttons p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    font-weight: 700;
    color: var(--clr-lightBlue);
}

.cta-button {
    background-color: #00454e;
    border: solid 2px var(--clr-blue);
    width: 100%;
    height: 30px;
    border-radius: 4px;
    text-decoration: none;
    color: #f6f6f6;
    margin-right: 10px;
}

.event-info-list {
    margin-bottom: 10px;
}

.event-info-list li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}

.event-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.opslag-title h2 {
    color: #000;
    opacity: 53%;
    margin-bottom: 5px;
}

.opslag {
    background-color: var(--clr-lightTurquoise);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    border-radius: 10px;
}

.opslag img {
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.say-something {
    background-color: var(--clr-lightTurquoise);
    border-style: none;
    border: solid 2px #528387;
    border-radius: 100px;
    margin: 20px 10px;
    padding: 10px 0px 10px 25px;
    width: 100%;
    text-align: left;
}













.input-search-settings {
    background: url("img/search.png") no-repeat right 10px top 5px;
    background-size: 30px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid var(--clr-blue);
    border-radius: 50vh;
    font-size: 16px;
    background-color: var(--clr-white);
    padding: 8px 30px 8px 20px;
    font-family: var(--ff-primary);
    margin-top: 2rem;
}



.settings-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto auto;
}

.settings {
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: 700;
}

.settings ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.settings ul>li,
.settings ul>a {
    cursor: pointer;
    color: var(--clr-darkBlue);
    text-decoration: none;
}


form#login-form input[type=text] {
    float: left;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    border: solid 1px var(--clr-lightBlue);
    border-radius: 4px;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
}

form#login-form input[type=password] {
    float: left;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    border: solid 1px var(--clr-lightBlue);
    border-radius: 4px;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
}

#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-form a {
    color: var(--clr-blue);
    cursor: pointer;
    text-decoration: underline;
}

#password-input {
    margin-top: 10px;
}

#button-login {
    width: 200px;
    margin: auto;
    border-radius: 4px;
    height: 40px;
    background-color: var(--clr-blue);
    border: none;
    margin-top: 15px;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: var(--clr-lightBlue);
}

#email-error {
    align-self: flex-start;
    font-size: 12px;
}

#showpass {
    height: 20px;
    width: 20px;
}

#check p {
    font-size: 14px;
    color: var(--clr-blue);
}

#check {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.feed-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.filter {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.filter::-webkit-scrollbar {
    display: none;
}

.filter li {
    display: inline-block;
    color: var(--clr-darkBlue);
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    padding: 7px 14px 7px 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 8px;
}

.filter a {
    text-decoration: none;
    color: var(--clr-darkBlue);
}

filter li:hover {
    background-color: #777;
}

.mager {
    margin-top: 1rem;
}

.form-container {
    width: 100vw;
    height: 100vh;
    margin-bottom: -1rem;
    margin-right: -18px;
    margin-left: -1rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-lightTurquoise);
}

.form-container textarea {
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
    margin: 2rem 1px 21px 0;
    border: none;
    background: var(--clr-darkLightBlue);
    resize: none;
    min-height: 300px;
}

.chat-pp {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 2.5rem;
    left: 1rem;
}

.form-container textarea:focus {
    background-color: #b3d2da;
    outline: none;
}

.form-container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-lightBlue);
    text-decoration: none;
    border: 4px;
    border-radius: .25rem;
    border-color: #003037;
    padding: 10px 20px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-container .cancel {
    background-color: var(--clr-greyBlue);
}

#myForm {
    display: none;
    box-sizing: border-box;
    position: fixed;
    bottom: 1rem;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

#modtaget {
    display: none;
    padding-top: 18px;
    padding-bottom: 18px;
}

.empty {
    width: 100%;
    background-color: var(--clr-lightTurquoise);
    position: relative;
}


.lookatmenow {
    display: flex;
    flex-direction: column;
}