:root {
    --clr-pink: #f1c9c0;
    --clr-lightBlue: #e4f1f0;
    --clr-yellow: #fbe355;
    --clr-blue: #00454e;
    --clr-darkBlue: #003037;
    --clr-black: #171717;
    --clr-white: #f6f6f6;

    --ff-primary: 'proxima-nova', sans-serif;
    --ff-logo: 'Arvo', serif;

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: var(--ff-primary);
    /* background: linear-gradient(180deg, rgba(241,201,192,1) 0%, rgb(255, 255, 255) 28%, rgba(228,241,240,1) 100%); */
    background: var(--clr-lightBlue);
    background-attachment: fixed;
}

.main-container {
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-rows: 1fr;
}

.index-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto auto;
}

#UCL-logo {
    max-height: 100px;
    display: block;
    margin: 3em auto;
}

.input-search {
    background: url("img/search.png") no-repeat right 14px top 9px;
    background-size: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--clr-blue);
    border-radius: 50vh;
    font-size: 16px;
    background-color: var(--clr-white);
    padding: 12px 40px 12px 20px;
    font-family: var(--ff-primary);
}

.top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 2em 0 2em;
}

.top-nav-home {
    justify-content: flex-end;
}

.back-button {
    border: none;
    border-radius: 50vh;
    background-color: inherit;
    height: 50px;
    cursor: pointer;
}

.back-button img {
    height: 50px;
    scale: 0.8;
}

.profile-button {
    border: none;
    border-radius: 50vh;
    height: 50px;
}

.profile-button img {
    height: 50px;
    scale: 0.9;
}

.home-nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

.home-nav {
    border: none;
    border-radius: 50vh;
    height: 70px;
}

.home-nav img {
    height: 70px;
    scale: 0.8;
}

.home-nav a {
    float: left;
    display: block;
    color: var(--clr-darkBlue);
    text-decoration: none;
    font-size: 17px;
}

.home-nav h4 {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    margin-top: -7px;
}

.bot-nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bot-nav-container {
    display: flex;
    justify-content: space-evenly;
    padding: 14px 0 6px 0;
    background: var(--clr-lightBlue);
}

.bot-nav-container a {
    float: left;
    display: block;
    color: var(--clr-darkBlue);
    text-decoration: none;
    font-size: 17px;
}

.bot-nav-container img {
    border: none;
    height: 50px;
    scale: 0.9;
}

.bot-nav-container h4 {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
}

/* ---profile-page--- */

.profile-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto auto;
}

.profile-pic {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 50px 0;
    grid-row: 1 / 2;
}

.profile-pic img {
    max-height: 200px;
}

.profile-pic a>img {
    height: 50px;
    background-color: var(--clr-white);
    border-radius: 100vh;
    padding: 5px;
    scale: 1.1;
    position: absolute;
    top: 150px;
    left: 40px;

}

.profile-pic a {
    position: absolute;
}

.profile-ass {
    grid-row: 2 / 3;
    margin: 20px 0 50px 0;
}

.profile-ass h3, .profile-eve h3 {
    margin: 0 0 30px 0;
}

.profile-ass-ul {
    display: flex;
    justify-content: space-between;
}

.profile-eve {
    grid-row: 3 / 4;
    margin: 20px 0 50px 0;
}

.profile-eve-ul {
    display: flex;
    justify-content: space-between;
}

.profile-ass h4, .profile-eve h4 {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
}

.profile-ass-ul li, .profile-eve-ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-ass-ul img, .profile-eve-ul img {
    max-height: 40px;
}




/*Forening-browsing*/

.forenings-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.forening {
    display: grid;
    color: var(--clr-darkBlue);
}

.forening-img {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.forening-img img {
    display: grid;
    width: 100%;
    height: auto;
}

.forening-text {
    display: grid;
    margin-bottom: 20px;
}

.forening-text h3 {
    margin-bottom: 20px;
}

.forening-read-more {
    display: grid;
    justify-content: center;
}

.read-more-button {
    display: flex;
    justify-content: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
    text-decoration: none;
    border: 4px;
    border-color: #003037;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
}

.read-more-button p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-margin {
    margin-bottom: 100px;
}


/*Forening page*/

.breadcrumbs {
    display: grid;
    justify-content: center;
    color: var(--clr-darkBlue);
    font-weight: lighter;
    margin-bottom: 40px;
}

.forening-top-img {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.forening-top-img img {
    display: grid;
    grid-column: 1 / 4;
    width: 100%;
    height: auto;
}

.forening-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #003037;
}

.forenings-container hr {
    display: grid;
    height: 3px;
    background-color: var(--clr-darkBlue);
}

.forening-info {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
    margin-bottom: 20px;
}

.follow-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.follow-buttons p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.follow-button {
    background-color: #00454e;
    border: solid 2px var(--clr-blue);
    width: 100px;
    height: 30px;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 10px;
    color: #f6f6f6;
}

.ansøg-button {
    border: solid 2px var(--clr-blue);
    color: #00454e;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    text-decoration: none;
}

.event {
    display: grid;
}

#ass-img{
    width: 60%;
    height: auto;
    display: grid;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-text h3 {
    margin-bottom: 20px;
}

.events-button {
    display: grid;
    justify-content: center;
}

.see-events-button {
    display: flex;
    justify-content: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
    text-decoration: none;
    border: 4px;
    border-color: #003037;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
}

.see-events-button p {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Forenings events*/

.events-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 30px;
}

.events-img {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.events-img img {
    display: grid;
    justify-content: center;
    width: 100%;
    height: auto;
}

.events-text {
    display: grid;
    margin-bottom: 20px;
}

.title-participants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-participants p {
    text-decoration: underline;
}


.events-text h3 {
    margin-bottom: 20px;
}

.events-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.events-cta-button {
    display: flex;
    justify-content: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
    text-decoration: none;
    border: 4px;
    border-color: #003037;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
}

.events-cta-button p {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Event page*/

.event-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 30px;
}

.breadcrumbs {
    display: grid;
    justify-content: center;
    color: var(--clr-darkBlue);
    font-weight: lighter;
    margin-bottom: 40px;
}

.event-top-img {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.event-top-img img {
    width: 100%;
    height: auto;
}

.event-title {
    display: grid;
    justify-content: center;
}

.event-container hr {
    display: grid;
    height: 3px;
    background-color: var(--clr-darkBlue);
}

.event {
    display: grid;
}

.event img{
    width: 100%;
    height: auto;
}

.event-text h3 {
    margin-bottom: 20px;
}

.events-button {
    display: grid;
    justify-content: center;
}

.see-events-button {
    display: flex;
    justify-content: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
    text-decoration: none;
    border: 4px;
    border-color: #003037;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
}

.see-events-button p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-search-settings {
    background: url("img/search.png") no-repeat right 14px top 9px;
    background-size: 30px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid var(--clr-blue);
    border-radius: 50vh;
    font-size: 16px;
    background-color: var(--clr-white);
    padding: 12px 30px 12px 20px;
    font-family: var(--ff-primary);
    margin-top: 2rem;
}

.main-container-settings {
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-rows: 1fr;
}

.input-container {

}

.settings-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto auto;
}

.settings {
  text-decoration: none;
  list-style: none;
  
}











/*
.forenings-container img {
    width: 100%;
    height: auto;
}



.event-container {
    display: grid;
}



.event-top-img {
    display: grid;
    justify-content: center;
}



.event-title {
    display: flex;
    justify-content: center;
    margin: 30px 0px 5px 0px;
}


/*
.event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 40px 0px 40px;
}*/

/*

.event-top-img img{
    width: 100%;
    height: auto;
}

.event-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.deltag-cta-button {
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
    border-radius: 50px;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    margin-bottom: 100px;
}

.events-container {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 40px;
    background-color: #003037;
    color: #f6f6f6;
    border-radius: 20px;
    padding: 20px;
    columns: 2;

}

.events img {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin-left: 40px;
    border-radius: 10px;
}

.events-img p {
    float: right;
    margin-top: 10px;
}
